body{
    background-color: #bebebe;
    width: 205%;
    margin-top: 0px;
    margin-left: 0px;
    height:fit-content;

}

.pinyon-script-regular {
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
  }

.dotgothic16-regular {
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .dm-mono-light {
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-style: normal;
  }
  
  .dm-mono-regular {
    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .dm-mono-medium {
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-style: normal;
  }
  
  .dm-mono-light-italic {
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-style: italic;
  }
  
  .dm-mono-regular-italic {
    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .dm-mono-medium-italic {
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-style: italic;
  }

  #ocad{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    position: absolute;
    z-index: 2;
    left: 33%;
    top: 44%;
    letter-spacing: 15px;
    font-size: 40px;

    animation-name: scaleup;
    animation-duration: 4s;
  }

  @keyframes scaleup{
    0% {scale: 70%;}
    100% {scale: 160%;}
  }


  .numbers{
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-style: normal;
    width: 80px;
    height: 60px;
    text-align: center;
    padding-bottom: 20px;
    border-radius: 50px;
    margin-top: 8px;

    border: 1px solid black;
  }

  #numbers{
    position: absolute;
    top: 300px;
    left: 45px;
  }

  #info-box{
    width: 700px;
    height: 180px;
    top: 360px;
    position: absolute;
    left: 190px;
    overflow: hidden;
  }


  @keyframes scroll{
    0% {top:160px;}
    100% {top: -250px;}
  }
  
  #info-one{
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    position: absolute;
    top: -10px;
    left: 8px;
    width: 690px;
    text-align: center;

    animation-name: scroll;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  #info-two{
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    position: absolute;
    top: -10px;
    left: 8px;
    width: 690px;
    text-align: center;

    animation-name: scroll;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  #info-three{
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    position: absolute;
    top: -10px;
    left: 8px;
    width: 690px;
    text-align: center;

    animation-name: scroll;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }


  #form{
    font-family: "DM Mono", monospace;
    font-weight: 100;
    font-size: 15px;
    line-height: 30px;
    width: 690px;
    text-decoration: none;
    color: black;

    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    text-decoration: underline;
    
  }

  #form:hover{
    letter-spacing: 2px;;
  }

  #one{
    opacity: 40%;
  }

  #two{
    opacity: 40%;
  }

  #three{
    opacity: 40%;
  }

  #main-header{
    width: 400px;
    height: 700px;
    position: absolute;
    left: 50px;
  }

  #subhead-main{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 25px;
    position: relative;
    top: -100px;
  }

  #beyond{
    font-family:'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 150px;
    letter-spacing: -20px;
    position: relative;
    top: -90px;
  }

  #bias{
    font-family: "Pinyon Script", cursive;
    font-size: 170px;
    font-weight: 100;
    position: relative;
    top: -280px;
    left: 80px;
    
    text-shadow: -1px -1px 0 #bebebe, 1px -1px 0 #bebebe, -1px 1px 0 #bebebe, 1px 1px 0 #bebebe;

  }

  #international-circle{
    width: 1000px;
    position: absolute;
    top: -150px;
    left: 900px;

    animation-name: circle-rotate;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  #maria-circle{
    width: 1000px;
    position: absolute;
    top: -150px;
    left: 900px;

    animation-name: circle-rotate;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes circle-rotate {
  0% {rotate: 0deg}
  100% {rotate: 360deg}
  }

  @keyframes pulse {
    0% {scale: 100%}
    50% {scale: 110%}
    100% {scale: 100%}
  }

  #maria-header-main{
    font-family:'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 140px;
    letter-spacing: -17px;
    line-height: 100px;
    width: fit-content;

    position: relative;
    left: 555px;
    top: -15px;


    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  #isabel-header-main{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 160px;
    font-weight: 500;
    position: absolute;
    width: 2000px;
    top: 475px;
    left: 555px;

    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  #shima-header-main{
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-size: 90px;
    position: absolute;
    top: 350px;
    left: 1190px;
    width: 1500px;
    letter-spacing: -3px;;

    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  #daniel-header-main-1{
    font-family: "Pinyon Script", cursive;
    font-weight: 100;
    font-size: 260px;
    position: absolute;
    top: -200px;
    left: 2200px;

    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  #daniel-header-main-2{
    font-family: "Pinyon Script", cursive;
    font-weight: 100;
    font-size: 170px;
    position: absolute;
    top: 20px;
    left: 2190px;

    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;

    text-shadow: -1px -1px 0 #bebebe, 1px -1px 0 #bebebe, -1px 1px 0 #bebebe, 1px 1px 0 #bebebe;
  }

  #credits{
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-style: normal;
    width: 300px;
    font-size: 14px;
    line-height: 15px;
    position: absolute;
    left: 2540px;
    top: 640px;
    text-align: right;
  }

  .name-menu{
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-size: 20px;
    line-height: 15px;
    position: relative;
    top: -343.9px;
    left: 70px;
    width: fit-content;
  }

  .name-menu-2{
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-size: 20px;
    line-height: 15px;
    top: 50px;
    position: relative;
    left: 70px;
    width: fit-content;
  }

  .name-menu-4{
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-size: 20px;
    line-height: 15px;
    top: 50px;
    position: relative;
    left: 70px;
    width: fit-content;
  }


  #maria-bio{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 30px;
    width: 770px;
    position: absolute;
    top: 520px;
    left: 70px;
    color: #2600E5;
  }

  #maria-header{
    font-family:'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 140px;
    letter-spacing: -17px;
    line-height: 100px;
    width: fit-content;
    color: #2600E5;
    position: relative;
    left: 555px;
    top: -15px;
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  #maria-date{
    position: absolute;
    left: 570px;
    top: 270px;
    width: 345px;
    overflow: hidden;
  }

  #maria-date-text{
    font-family: "DM Mono", monospace;
    font-weight: 100;
    font-size: 45px;
    color: #2600E5;
    width: 2000px;
    animation-name: maria-date-scroll;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    animation-timing-function: linear;
    position: relative;
  }

  @keyframes maria-date-scroll{
    0% {left: 350px}
    100% {left: -1250px}
  }

  #maria-lecture{
    font-family: "DM Mono", monospace;
    font-weight: 100;
    font-size: 40px;
    color: #2600E5;
    width: 600px;
    text-align: center;
    position: absolute;
    left: 1080px;
    top: 300px;
  }

  #maria-desc{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 30px;
    width: 700px;
    position: absolute;
    top: 485px;
    left: 2000px;
    color: #2600E5;
  }

  #maria-quote{
    font-family: "DM Mono", monospace;
    font-weight: 100;
    font-size: 30px;
    line-height: 50px;
    width: 800px;
    color: #2600E5;
    position: absolute;
    left: 2000px;
    top: 30px;
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  #maria-learn{
    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-size: 40px;
    color: #2600E5;
    width: 600px;
    text-align: center;
    position: absolute;
    left: 1835px;
    top: 300px;
  }

  #maria-learn:hover{
    scale: 105%;
    text-decoration: underline;
    left: 1840px;
  }

/*-----------ISABEL-------------*/

#isabel-circle{
  width: 1000px;
  position: absolute;
  top: -150px;
  left: 900px;

  animation-name: circle-rotate;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#isabel-header{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 160px;
  font-weight: 500;
  position: absolute;
  width: 2000px;
  top: 475px;
  left: 555px;
  color: #A006D8;
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#isabel-bio{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 30px;
  width: 700px;
  position: absolute;
  top: 400px;
  left: 70px;
  color: #A006D8;
}

#isabel-learn{
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-size: 40px;
  color: #A006D8;
  width: 600px;
  text-align: center;
  position: absolute;
  left: -100px;
  top: 573px;
}

#isabel-learn:hover{
  scale: 105%;
  text-decoration: underline;
}

#isabel-date{
  position: absolute;
  left: 70px;
  top: 260px;
  width: 700px;
  overflow: hidden;
}

#isabel-date-text{
  font-family: "DM Mono", monospace;
  font-weight: 100;
  font-size: 50px;
  color: #A006D8;
  width: 2000px;
  position: relative;
  animation-name: isabel-date-scroll;
  animation-timing-function: linear;
  animation-duration: 16s;
  animation-iteration-count: infinite;
}

@keyframes isabel-date-scroll {
  0% {left: 700px;}
  100% {left: -1400px;}
}

#isabel-lecture{
  font-family: "DM Mono", monospace;
  font-weight: 100;
  font-size: 40px;
  color: #A006D8;
  width: 600px;
  text-align: center;
  position: absolute;
  left: 1080px;
  top: 240px;
}

#isabel-desc-1{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 30px;
  width: 530px;
  position: absolute;
  top: 335px;
  left: 1920px;
  color: #A006D8;
}


#isabel-desc-2{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 30px;
  width: 530px;
  position: absolute;
  top: 335px;
  left: 2500px;
  color: #A006D8;
}


#isabel-quote{
  font-family: "DM Mono", monospace;
  font-weight: 100;
  font-size: 30px;
  line-height: 50px;
  width: 1200px;
  color: #A006D8;
  position: absolute;
  left: 1915px;
  top: 35px;
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

/*------DANIEL------*/


#daniel-circle{
  width: 1000px;
  position: absolute;
  top: -150px;
  left: 900px;

  animation-name: circle-rotate;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#daniel-header-1{
  font-family: "Pinyon Script", cursive;
  font-weight: 100;
  font-size: 260px;
  position: absolute;
  top: -200px;
  left: 2200px;
  color: #D60505;
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#daniel-header-2{
  font-family: "Pinyon Script", cursive;
  font-weight: 100;
  font-size: 170px;
  position: absolute;
  top: 20px;
  left: 2190px;
  color: #D60505;
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;

  text-shadow: -1px -1px 0 #bebebe, 1px -1px 0 #bebebe, -1px 1px 0 #bebebe, 1px 1px 0 #bebebe;
}

.name-menu-3{
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-size: 20px;
  line-height: 15px;
  top: 50px;
  position: relative;
  left: 70px;
  width: fit-content;
}


#daniel-bio{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 30px;
  width: 770px;
  position: absolute;
  top: 520px;
  left: 70px;
  color: #D60505;
}

#daniel-learn{
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-size: 50px;
  color: #D60505;
  width: 600px;
  text-align: center;
  position: absolute;
  left: 385px;
  top: -5px;
}

#daniel-learn:hover{
  scale: 105%;
  text-decoration: underline;
}

#daniel-date{
  position: absolute;
  left: 70px;
  top: 400px;
  width: 700px;
  overflow: hidden;
}

#daniel-date-text{
  font-family: "DM Mono", monospace;
  font-weight: 100;
  font-size: 50px;
  color: #D60505;
  width: 2000px;
  position: relative;
  animation-name: isabel-date-scroll;
  animation-timing-function: linear;
  animation-duration: 16s;
  animation-iteration-count: infinite;
}

@keyframes isabel-date-scroll {
  0% {left: 700px;}
  100% {left: -1400px;}
}

#daniel-lecture{
  font-family: "DM Mono", monospace;
  font-weight: 100;
  font-size: 40px;
  color: #D60505;
  width: 600px;
  text-align: center;
  position: absolute;
  left: 1080px;
  top: 290px;
}

#daniel-quote{
  font-family: "DM Mono", monospace;
  font-weight: 100;
  font-size: 20px;
  line-height: 30px;
  width: 700px;
  color: #D60505;
  position: absolute;
  left: 80px;
  top: 200px;
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#daniel-desc-1{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 30px;
  width: 530px;
  position: absolute;
  top: 470px;
  left: 1880px;
  color: #D60505;
}


#daniel-desc-2{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 30px;
  width: 470px;
  position: absolute;
  top: 470px;
  left: 2450px;
  color: #D60505;
}

/**/

#shima-circle{
  width: 1000px;
  position: absolute;
  top: -150px;
  left: 900px;

  animation-name: circle-rotate;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#shima-header{
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-size: 90px;
  position: absolute;
  top: 100px;
  left: 1190px;
  width: 1500px;
  letter-spacing: -3px;
  color: #D605C1;
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#shima-bio{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 30px;
  width: 450px;
  position: absolute;
  top: 470px;
  left: 480px;
  color: #D605C1;
}

#shima-lecture{
  font-family: "DM Mono", monospace;
  font-weight: 100;
  font-size: 40px;
  color: #D605C1;
  width: 600px;
  text-align: center;
  position: absolute;
  left: 1080px;
  top: 300px;
}

#shima-quote{
  font-family: "DM Mono", monospace;
  font-weight: 100;
  font-size: 27px;
  line-height: 45px;
  width: 400px;
  color: #D605C1;
  position: absolute;
  left: 70px;
  top: 245px;
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#shima-learn{
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-size: 50px;
  color: #D605C1;
  width: 600px;
  text-align: center;
  position: absolute;
  left: 460px;
  top: 0px;
}

#shima-learn:hover{
  scale: 105%;
  text-decoration: underline;
}

#shima-desc-1{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 30px;
  width: 530px;
  position: absolute;
  top: 470px;
  left: 1890px;
  color: #D605C1;
}


#shima-desc-2{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 30px;
  width: 470px;
  position: absolute;
  top: 470px;
  left: 2460px;
  color: #D605C1;
}

#shima-date{
  position: absolute;
  left: 1895px;
  top: 290px;
  width: 500px;
  overflow: hidden;
}

#shima-date-text{
  font-family: "DM Mono", monospace;
  font-weight: 100;
  font-size: 50px;
  color: #D605C1;
  width: 2000px;
  position: relative;
  animation-name: shima-date-scroll;
  animation-timing-function: linear;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

@keyframes shima-date-scroll{
  0% {left: 500px}
  100% {left: -1300px}
}





